/* ==================== [ CUSTOM PROPERTIES] ==================== */
:root {
  /* ====== TOKENS ====== */
  /* Tipografías */
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;

  /* Colores */
  --color-bold: rgba(0, 0, 0, 0.4);
  --color-light: rgba(0, 0, 0, 0.3);
  --color-lighter: rgba(0, 0, 0, 0.2);
  --color-hirota-red: rgba(226, 30, 32, 1);
  --color-hirota-blue: rgba(63, 91, 166, 1);
  --color-gradient: #b3e5fc;
  --color-white: #f9f9f9;

  /* Button colors */
  --btn-color: rgba(0, 0, 0, 0.3);
  --btn-border: 1px solid rgba(0, 0, 0, 0.2);
  --btn-color-hover: rgba(0, 0, 0, 0.5);
  --btn-border-hover: 1px solid rgba(0, 0, 0, 0.4);
  --btn-border-hover-intense: 1px solid rgba(0, 0, 0, 0.5);
  --btn-color-hover-red: rgba(226, 30, 32, 0.7);
  --btn-border-hover-red: 1px solid rgba(226, 30, 32, 0.6);

  /* Borders */
  --card-border: 1px solid rgba(0, 0, 0, 0.2);

  /* Font-size */
  --font-size-nav-link: 1rem;           /* 16px */
  --font-size-h1: 1.25rem;              /* 18px */
  --font-size-p: 0.75rem;               /* 12px */
  --font-size-item-title: 1.05rem;
  --font-size-item-details: 0.7rem;
  --font-size-item-price: 0.95rem;
  --font-size-item-add-btn: 0.85rem;
  --font-size-cart-clear-btn: 0.9rem;
  --font-size-cart-qty: 0.7rem;
  --font-size-cart-btn: 0.75rem;
  --font-size-cart-subtotal: 1.05rem; 
  --font-size-cart-checkout-btn: 1.05rem;


  /* ====== COMPONENTS ====== */
  /* Nav-bar */
  --nav-bar-height: 34px;
  --nav-bar-logo-height: 22px;

  /* Main-cart*/
  --cart-max-width: 800px;

  /* Footer */
  --footer-logo-width: 95%;
  --footer-logo-max-width: 600px;
  --footer-logo-opacity: 0.2;
  --footer-logo-opacity-hover: 0.45;
}


/* ==================== [ RESET ] ==================== */
/* #region RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #endregion */



/* ==================== [ BODY / ESTRUCTURA BASE ] ==================== */
/* #region BODY */
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
    /* Gradiente estático */
  background: linear-gradient(135deg, var(--color-gradient) 0%, #ffffff 100%);
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  /* Gradiente animado */
  /* background: linear-gradient(135deg, var(--color-gradient), var(--color-white), var(--color-gradient));
  background-size: 300% 300%;
  animation: gradientMove 8s ease-in-out infinite; */
}
/* Gradiente animado */
@keyframes gradientMove {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Main empuja footer hacia abajo*/
main {
  flex: 1;
}
/* #endregion */




/* ==================== [ NAV-BAR ] ==================== */ 
/* #region NAVBAR */
.navbar {
  height: var(--nav-bar-height);
  background-color: rgba(240, 240, 240, 0.3); 
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
}


/* Zonas izquierda, centro y derecha */
.nav-left,
.nav-center,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Logo */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;              
  justify-content: center;    
  align-items: center; 
}
.navbar-center-logo {
  height: var(--nav-bar-logo-height);
  display: block; 
  transition: opacity 0.0s ease-in-out;
}
.navbar-center-logo:hover {
  opacity: 0.9;
}

/* Enlaces */
.nav-left a,
.nav-right a {
  color: var(--color-bold);
  font-size: var(--font-size-nav-link);
  font-family: var(--font-sans);
  font-stretch: condensed;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.0s;
}
.nav-left a:hover,
.nav-right a:hover {
  color: var(--color-hirota-red); 
}
.nav-left a.active,
.nav-right a.active {
  color: var(--color-hirota-red);
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  text-decoration-style:dotted;
}
/* #endregion */



/* ==================== [ MAIN-CONTENT ] ==================== */
.main-content {
  padding-top: var(--nav-bar-height);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  font-stretch: condensed;
  color: rgba(0, 0, 0, 0.2);
}



/* ==================== [ MAIN-STORE ] ==================== */
/* #region MAIN-STORE */
.main-store {
  flex: 1;                       
  display: flex;
  flex-direction: column;
  align-items: center;          
  text-align: center;
  padding: calc(40px + var(--nav-bar-height)) 40px 40px;      
}

/* Store header */
.store-header {
  max-width: var(--cart-max-width);
  border-bottom: var(--card-border);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
}
.store-header h1 {
  color: var(--color-bold);
  font-size: var(--font-size-h1);
  font-family: var(--font-sans);
  font-stretch: condensed;
  font-weight: 700;
}
.store-header p {
  font-family: var(--font-mono);
  color: var(--color-light);
  font-size: var(--font-size-p);
}


/* Cards grid */
.cards-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  padding: 40px 0;
  width: 95%;
  margin-inline: auto;
}

/* Cards */
.card {
  border: var(--card-border);
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

/* Card Image */
.card-image {
  width: 100%;
  aspect-ratio: 1 / 1;     
  overflow: hidden;
  border-bottom: var(--card-border);
}
.card-image img {
  /* Imagenes reales del producto*/
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 0.8;       
}

/* Card Content */
.card-content {
  font-family: var(--font-sans);
  font-stretch: condensed;
  text-align: left;
}
.card-title {
  color: var(--color-bold);
  font-size: var(--font-size-item-title);
  border-bottom: var(--card-border);
  padding: 6px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.card-details {
  color: var(--color-light);
  font-size: var(--font-size-item-details);
  font-family: var(--font-mono);
  border-bottom: var(--card-border);
  padding: 6px;
  line-height: 1.4;
}
.card-price-action {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-price {
  color: var(--color-bold);
  font-size: var(--font-size-item-price);
  font-weight: 700;
}
.btn-add {
  color: var(--btn-color);
  border: var(--btn-border);
  font-size: var(--font-size-item-add-btn);
  font-family: var(--font-sans);
  font-stretch: condensed;
  background-color: transparent;
  border-radius: 3px;
  padding: 4px 8px;
  cursor: pointer;
  transition: all 0.0s ease;
}
.btn-add:hover {
  color: var(--btn-color-hover); 
  border-color: var(--btn-border-hover);     
}
/* #endregion */




/* ==================== [ MAIN-CART ] ==================== */
/* #region MAIN-CART */
.main-cart {
  flex: 1;                       
  display: flex;
  flex-direction: column;
  align-items: center;          
  text-align: left;
  padding-top: calc(40px + var(--nav-bar-height));
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  font-family: var(--font-sans);
  font-stretch: condensed;
  color: var(--color-bold);        
}

/* ====== Cart header ====== */
.cart-header {
  max-width: var(--cart-max-width);
  border-bottom: var(--card-border);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
}
.cart-header h1 {
  color: var(--color-bold);
  font-size: var(--font-size-h1);
  font-weight: 700;
}
.btn-clear {
  color: var(--btn-color);
  font-size: var(--font-size-cart-clear-btn);
  font-family: var(--font-sans);
  font-stretch: condensed;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease;
}
.btn-clear:hover {
  color: var(--btn-color-hover);
  text-decoration: underline;
}


/* ====== Cart Items ====== */
.cart-items {
  width: 100%;
  max-width: var(--cart-max-width);
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

/* Item image */
.cart-item-img-wrapper {
  width: 90px;
  height: 90px;
  border: var(--card-border);       
}
.cart-item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;         
}

/* Info de la izquierda */
.cart-item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
/* Titulo y detalles */
.cart-item-title {
  font-size: var(--font-size-item-title);
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 2px;
}
.cart-item-details {
  font-size: var(--font-size-item-details);
  color: var(--color-light);
  font-family: var(--font-mono);
  margin-bottom: 2px;
}
/* Quantity */
.cart-item-qty {
  font-size: var(--font-size-cart-qty);
  font-family: var(--font-mono);
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 2px;
}
.btn-qty {
  color: var(--btn-color);
  border: var(--btn-border);
  font-size: var(--font-size-cart-btn);
  font-family: var(--font-sans);
  border-radius: 3px;
  background: transparent;
  padding: 2px 6px;
  cursor: pointer;
  transition: all 0.1s ease;
}
.btn-qty:hover {
  color: var(--btn-color-hover);
  border-color: var(--btn-border-hover);
}
.qty-value {
  width: 20px;
  text-align: center;
}
/* Botón remover */
.btn-remove {
  color: var(--btn-color);
  border: var(--btn-border);
  font-size: var(--font-size-cart-btn);
  font-family: var(--font-sans);
  font-stretch: condensed;
  background: transparent;
  border-radius: 3px;
  padding: 3px 8px;
  cursor: pointer;
  transition: all 0.1s ease;
  width: fit-content;          
  align-self: flex-start;      
}
.btn-remove:hover {
  color: var(--btn-color-hover-red);
  border-color: var(--btn-border-hover-red);
  text-decoration: underline;
}

/* Precio de la derecha */
.cart-item-price {
  font-size: var(--font-size-item-price);
  font-weight: 700;
  white-space: nowrap;
}


/* ===== SUBTOTAL ===== */
.cart-summary {
  max-width: var(--cart-max-width);
  border-top: var(--card-border);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 6px;
}
.cart-subtotal {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.cart-subtotal-title {
  font-size: var(--font-size-cart-subtotal);
  font-weight: 700;
}
.cart-subtotal-note {
  color: var(--color-light);
  font-size: var(--font-size-item-details);
  font-family: var(--font-mono);
}
.cart-subtotal-price {
  font-size: var(--font-size-cart-subtotal);
  font-weight: 700;
}


/* ===== CHECKOUT ===== */
.cart-checkout {
  max-width: var(--cart-max-width);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.btn-checkout {
  color: var(--btn-color);
  font-size: var(--font-size-cart-checkout-btn);
  border: var(--btn-border);
  font-family: var(--font-sans);
  font-stretch: condensed;
  background-color: transparent;
  padding: 12px 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  letter-spacing: 0.5px;
  width: 100%;
  text-align: center;
}
.btn-checkout:hover {
  color: var(--btn-color-hover);
  border-color: var(--btn-border-hover-intense);
  font-weight: 700;
} 
.checkout-message {
  text-align: left;
  font-family: var(--font-sans);
  font-stretch: condensed;
  font-size: 16px;
  font-weight: 400;
}
/* #endregion */



/* ==================== [ MAIN-CONTACT ] ==================== */
/* #region MAIN-CONTACT */
.main-contact {
  flex: 1;                       
  display: flex;
  flex-direction: column;
  align-items: center;          
  text-align: center;
  padding: calc(40px + var(--nav-bar-height)) 40px 40px;      
}

/* Contact header */
.contact-header {
  max-width: var(--cart-max-width);
  border-bottom: var(--card-border);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2px;
}
.contact-header h1 {
  color: var(--color-bold);
  font-size: var(--font-size-h1);
  font-family: var(--font-sans);
  font-stretch: condensed;
  font-weight: 700;
}
.contact-header p {
  font-family: var(--font-mono);
  color: var(--color-light);
  font-size: var(--font-size-p);
}

/* ========== CONTACT — COMPANY INFO ========== */
.contact-company {
  max-width: var(--cart-max-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 30px;
  text-align: left;
}
.company-intro {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-company p {
  font-family: var(--font-mono);
  font-size: 16px;
  color: var(--color-light);
  line-height: 1.25;
}
.company-branch h2 {
  font-family: var(--font-mono);
  font-stretch: condensed;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--color-bold);
}
.branch-contact {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-mono);
  margin: 4px 0;
}
.branch-email {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-bold);
}
.branch-email:hover {
  color: rgb(55, 162, 255);
}
.company-info-extra p:first-child {
  font-family: var(--font-mono);
  font-weight: 400;
  margin-bottom: 4px;
  color: var(--color-bold);
}
/* #endregion */




/* ==================== [ FOOTER ] ==================== */
/* #region FOOTER*/
.footer {
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 20px 0;
}

/* Logo */
.footer-link { /* Enlace del logo (forzamos que se comporte como bloque) */
  display: flex;              
  justify-content: center;
  align-items: center;
  width: 100%;            
}
.footer-logo {
  width: var(--footer-logo-width);
  max-width: var(--footer-logo-max-width); 
  opacity: var(--footer-logo-opacity); 
  transition: opacity 0.3s ease-in-out;
}
.footer-logo:hover {
  opacity: var(--footer-logo-opacity-hover); 
  cursor: pointer; 
}

/* Copyright */
.footer-copyright {
  width: 100%;    
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}
.footer-copyright p {
  color: var(--color-lighter);
  font-size: 0.7rem;
  font-family: monospace;
  letter-spacing: 0.3px;
}
/* #endregion */






/* ===== CART FEEDBACK DOT ===== */
.cart-ping {
  position: absolute;
  top: 5px;
  right: 70px;
  width: 8px;
  height: 8px;
  background-color: var(--color-hirota-red);
  border-radius: 50%;
  opacity: 0;
  animation: cartPing 1.2s ease-out forwards; 
}

@keyframes cartPing {
  0%   { opacity: 0; }   
  15%  { opacity: 1; }   
  40%  { opacity: 1; }   
  100% { opacity: 0; }   
}

/* Asegura que el contenedor del cart link permita posicionar el dot */
.nav-right {
  position: relative;
  display: inline-block;
}




/* ==================== [ MOUSE FALLING ASCII ] ==================== */
/* .falling-symbol {
  position: fixed;
  color: rgba(0, 0, 0, 0.35);
  font-family: monospace;
  font-size: 14px;
  pointer-events: none;     
  user-select: none;
  animation: fallSymbol 1.5s ease-out forwards;
  z-index: 9999;
}

@keyframes fallSymbol {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(60px) scale(0.6);
    opacity: 0;
  }
} */