@import "tailwindcss";


/* ================================================================= */
/* ========================= GLOBAL STYLES ========================= */
/* ================================================================= */

@layer base {
  body {
    @apply font-['consolas'];
    @apply text-black/50;
  }

  body.theme-skyblue {
    background: linear-gradient(135deg, #b3e5fc, #ffffff, #b3e5fc);
    background-size: 300% 300%;
    animation: gradientMove 8s ease-in-out infinite;
  }

  body.theme-red {
    background: linear-gradient(135deg, #ffffff, #ffe5e5, #ffffff);
    background-size: 300% 300%;
    animation: gradientMove 8s ease-in-out infinite;
  }

  @keyframes gradientMove {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  ::selection {
    @apply bg-neutral-700;
    @apply text-white;            
  }

  a.active-link {
    @apply underline underline-offset-2 decoration-2;
  }
}


@layer utilities {
  /* no scroll-bars */
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */                
  }
  .scrollbar-none {
    scrollbar-width: none; /* Firefox */         
  }
}




/* ================================================================= */
/* ======================== PRODUCTS STYLES ======================== */
/* ================================================================= */


/* ==================== INPUTS STYLING ==================== */
/* Quitar flechitas ↑↓ de los inputs */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* HOVER (solo si NO está marcada como completed) */
.gi-input-row:not(.completed):hover,
.gi-input-row:not(.completed):focus-within {
  background-color: rgba(0, 0, 0, 0.1);
}

/* completed state */
.gi-input-row.completed {
  background-color: rgba(0, 0, 0, 0.6);
}
.gi-input-row.completed .input-text,
.gi-input-row.completed .gi-input {
  color: white !important;
}


/* =============== PRODUCTS / ALL SELECTABLE OPTIONS HOVER =============== */
.gi-model:not(.selected):hover,
.gi-high-waist:not(.selected):hover,
.gi-shrinkage:not(.selected):hover,
.gi-hems:not(.selected):hover {
  background-color: rgba(0,0,0,0.1);
}

.gi-model:not(.selected):hover .inner-circle,
.gi-high-waist:not(.selected):hover .inner-circle,
.gi-shrinkage:not(.selected):hover .inner-circle,
.gi-hems:not(.selected):hover .inner-circle {
  display: block;
  background-color: rgba(0,0,0,0.5);
}